body {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100vh;
  background: rgb(119,119,119);
  background: linear-gradient(45deg, rgba(119,119,119,1) 0%, rgba(145,145,145,1) 25%, rgba(255,255,255,1) 50%, rgba(153,153,153,1) 75%, rgba(68,68,68,1) 100%);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
